rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /rooms/{roomId} {
      allow read: if true;
      allow write: if false;
    }

    match /quizzes/{quizId} {
      allow read: if true;
      allow write: if false;
    }

    match /participants/{participantId} {
      allow read: if true;
      allow create: if request.resource.data.id == participantId
        && request.resource.data.room_id is string
        && request.resource.data.name is string
        && request.resource.data.name.size() > 0
        && request.resource.data.name.size() <= 20
        && request.resource.data.score == 0;
      allow update, delete: if false;
    }

    match /answers/{answerId} {
      allow read: if true;
      allow create, update: if request.resource.data.id == answerId
        && request.resource.data.participant_id is string
        && request.resource.data.quiz_id is string
        && request.resource.data.choice_index is int
        && request.resource.data.choice_index >= 0
        && request.resource.data.choice_index < 4
        && request.resource.data.is_correct == false;
      allow delete: if false;
    }
  }
}
